@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
	--index: calc(1vw + 1vh);
}

* {
	font-family: 'Inter', sans-serif;
}

body {
	background-color: #f2f3f4;
}
.header {
	display: flex;
	flex-direction: row;
	padding-left: calc(var(--index) * 3);
	padding-right: 20px;
	align-items: center;
	justify-content: space-between;
	height: calc(var(--index) * 3);
	width: 100%;
	position: fixed;
	z-index: 1000;
	background-color: #f2f3f4b7;
}

.header__nav {
	display: flex;
	flex-direction: row;
	gap: calc(var(--index) * 2);
}

.header__call_img {
	width: calc(var(--index) * 1);
	height: calc(var(--index) * 1);
}

.header__call {
	background-color: #16469a;
	border-radius: 10em;
	padding: 10px 10px;
}

.header__nav__link {
	font-size: calc(var(--index) * 0.7);
}

.main__master {
	padding-right: calc(var(--index) * 2);
	padding-left: calc(var(--index) * 4);
	padding-top: calc(var(--index) * 3);
	min-height: 100vh;
	position: relative;
}

.main__master__text {
	position: absolute;
	width: 75vw;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.main__master__text__p {
	width: 50%;
}

.main__master__img {
	width: calc(var(--index) * 40);
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}

h1 {
	font-size: calc(var(--index) * 2.7);
	font-weight: 700;
}

.blue_text {
	color: #16469a;
}

p {
	font-size: calc(var(--index) * 1.5);
}

.call_button {
	padding: 15px calc(var(--index) * 3);
	width: fit-content;
	border-radius: 2em;
	color: white;
	font-weight: 500;
	font-size: calc(var(--index) * 0.7);
	text-align: center;
}

.blue_button {
	background-color: #16469a;
}

.green_button {
	background-color: #1e941e;
}

.main__master__buttons {
	margin-top: calc(var(--index));
}

.advantage {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: calc(var(--index));
}

.advantage__blocks {
	display: flex;
	flex-direction: row;
	gap: calc(var(--index));
	margin-top: calc(var(--index) * 2);
}

.advantage__blocks__block {
	width: 20vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: calc(var(--index));
}

.advantage__blocks__block p {
	text-align: center;
}

.advantage__blocks__block__img {
	width: 50%;
}

.services {
	padding-top: calc(var(--index) * 2);
	padding-bottom: calc(var(--index) * 2);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.services__nav {
	margin-top: calc(var(--index));
	display: flex;
	flex-direction: row;
	gap: calc(var(--index));
}

.services__nav a {
	font-size: calc(var(--index) * 1);
}

.services__blocks {
	display: flex;
	flex-direction: row;
	margin-top: calc(var(--index) * 2);
	gap: calc(var(--index));
	flex-wrap: wrap;
	justify-content: center;
}

.services__blocks__block {
	width: calc(var(--index) * 12);
}

.accordion {
	border: solid 2px #16469a;
	color: #16469a;
	cursor: pointer;
	background-color: white;
	padding: 15px 20px;
	width: 100%;
	text-align: center;
	outline: none;
	transition: 0.3s;
	margin-bottom: 5px;
	border-radius: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.accordion p {
	font-size: calc(var(--index) * 1);
	font-weight: 500;
}

.accordion.active,
.accordion:hover {
	background-color: #e6e6e6;
}

.panel {
	padding: 0 20px;
	background-color: white;
	width: 100%;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.panel_text {
	margin: 15px 0;
	font-size: calc(var(--index) * 0.7);
}

.accordion__down.hidden {
	display: none;
}

.accordion__img {
	width: calc(var(--index) * 6);
}

.about_me {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: calc(var(--index) * 2);
	padding-bottom: calc(var(--index) * 2);
}
